{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Welcome Board -->
<div class="p-4 p-md-5 mb-4 text-bg-dark">
    <div class="container">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Welcome to Organic Fruits</h1>
            <p class="lead my-3">Here you will see fresh and organic fruit and vagetable</p>
        </div>
    </div>
</div>
<!-- Product Section -->
<div class="container">
    <!-- Heading -->
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Fresh Fruit
    </h3>
    <!-- Fruit -->
    <div class="row mb-2">
        {% for product in prod_list %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{product.category}}</strong>
                    <h3 class="mb-0">{{product.title}}</h3>
                    <p class="card-text mb-auto">{{product.desc}}</p>
                    <div class="row gx-5">
                        <div class="col">
                            {% if user.is_authenticated %}
                            <a href="cart/{{user.id}}/{{product.product_id}}/" id="product_cart"><i class="fa-solid fa-cart-plus mx-2"></i>Add to Cart</a> {% else %}
                            <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Add to Cart</a> {% endif %}
                        </div>
                        <div class="col">
                            <p class="leading"><i class="fa-sharp fa-solid fa-indian-rupee-sign mx-2"></i>{{product.price}} / {{product.kg_or_ltr}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="media/{{product.image}}" width="200" height="250" alt="">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}