{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <h3 class="pb-4 my-4 fst-italic border-bottom">
        Order Place
    </h3>
</div>
<div class="container my-3">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="mb-3 col">
                <label for="name" class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="name">
                </div>
            </div>
            <input type="hidden" name="user_ids" value="" class="form-control" id="user_ids">
            <div class="mb-3 col">
                <label for="email" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col">
                <label for="number" class="col-sm-2 col-form-label">Number:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="number" name="number">
                </div>
            </div>
            <div class="mb-3 col">
                <label for="inputPassword" class="col-sm-2 col-form-label">Pin code:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="pincode" id="inputPassword">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address:</label>
            <textarea class="form-control" name="address" id="address" rows="3"></textarea>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Order Place</button>
        </div>
    </form>
</div>

<script>
    var url_string = window.location;
    var url = new URL(url_string);
    var url_val = url.searchParams.get("user_id");
    user_id = document.getElementById('user_ids')
    user_id.value = url_val
</script>

{% endblock %}